<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zoushiyou.dao.core.AttachmentsDao" >
    <resultMap id="BaseResultMap" type="com.zoushiyou.model.core.Attachments" >
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="parentId" property="parentId" jdbcType="BIGINT" />
        <result column="version" property="version" jdbcType="INTEGER" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
        <result column="sortNum" property="sortNum" jdbcType="INTEGER" />
        <result column="is_Enable" property="is_Enable" jdbcType="BIT" />
        <result column="is_Delete" property="is_Delete" jdbcType="BIT" />
        <result column="ownerId" property="ownerId" jdbcType="BIGINT" />
        <result column="createId" property="createId" jdbcType="BIGINT" />
        <result column="updateId" property="updateId" jdbcType="BIGINT" />
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="fkType" property="fkType" jdbcType="INTEGER" />
        <result column="fkPkId" property="fkPkId" jdbcType="BIGINT" />
        <result column="suffix" property="suffix" jdbcType="VARCHAR" />
        <result column="streamData" property="streamData" jdbcType="BLOB" />
    </resultMap>
    <sql id="Base_Column_List" >
    id, parentId, version, code, name, remarks, sortNum, is_Enable, is_Delete, ownerId,
    createId, updateId, createTime, updateTime,fkType,fkPkId,suffix,streamData
    </sql>
    <insert id="insertOne" parameterType="com.zoushiyou.model.core.Attachments" >
    insert into tb_attachments (id, parentId, version,
      code, name, remarks,
      sortNum, is_Enable, is_Delete,
      ownerId, createId, updateId,
      createTime, updateTime,fkType,fkPkId,suffix,streamData)
    values (#{id,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, #{version,jdbcType=INTEGER},
      #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR},
      #{sortNum,jdbcType=INTEGER}, #{is_Enable,jdbcType=BIT}, #{is_Delete,jdbcType=BIT},
      #{ownerId,jdbcType=BIGINT}, #{createId,jdbcType=BIGINT}, #{updateId,jdbcType=BIGINT},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{fkType,jdbcType=INTEGER}, #{fkPkId,jdbcType=VARCHAR},
      #{suffix,jdbcType=VARCHAR}, #{streamData,jdbcType=BLOB})
  </insert>
    <update id="updateOne" parameterType="com.zoushiyou.model.core.Attachments" >
    update tb_attachments
    set parentId = #{parentId,jdbcType=BIGINT},
      version = version+1,
      code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      sortNum = #{sortNum,jdbcType=INTEGER},
      is_Enable = #{is_Enable,jdbcType=BIT},
      is_Delete = #{is_Delete,jdbcType=BIT},
      ownerId = #{ownerId,jdbcType=BIGINT},
      updateId = #{updateId,jdbcType=BIGINT},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      fkType = #{fkType,jdbcType=INTEGER},
      fkPkId = #{fkPkId,jdbcType=VARCHAR},
      suffix = #{suffix,jdbcType=VARCHAR},
      streamData = #{streamData,jdbcType=BLOB}
    where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="deleteOne" parameterType="java.lang.Long" >
       update tb_attachments set is_Delete = 1 where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="findOne" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select <include refid="Base_Column_List" /> from tb_attachments where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="findAll" resultMap="BaseResultMap" >
        select <include refid="Base_Column_List" /> from tb_attachments
        where is_Enable=1 and is_Delete=0 order by sortNum
    </select>
</mapper>