<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zoushiyou.dao.core.FuncInfoDao" >
    <resultMap id="BaseResultMap" type="com.zoushiyou.model.core.FuncInfo" >
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="parentId" property="parentId" jdbcType="VARCHAR" />
        <result column="version" property="version" jdbcType="INTEGER" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
        <result column="sortNum" property="sortNum" jdbcType="INTEGER" />
        <result column="is_Enable" property="is_Enable" jdbcType="BIT" />
        <result column="is_Delete" property="is_Delete" jdbcType="BIT" />
        <result column="ownerId" property="ownerId" jdbcType="VARCHAR" />
        <result column="createId" property="createId" jdbcType="VARCHAR" />
        <result column="updateId" property="updateId" jdbcType="VARCHAR" />
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="routePath" property="routePath" jdbcType="VARCHAR" />
        <result column="styleName" property="styleName" jdbcType="VARCHAR" />
        <result column="levelVal" property="levelVal" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
    id, parentId, version, code, name, remarks, sortNum, is_Enable, is_Delete, ownerId,
    createId, updateId, createTime, updateTime, routePath, styleName, levelVal
    </sql>
    <insert id="insertOne" parameterType="com.zoushiyou.model.core.FuncInfo" >
    insert into tb_funcinfo (id, parentId, version,
      code, name, remarks,
      sortNum, is_Enable, is_Delete,
      ownerId, createId, updateId,
      createTime, updateTime, routePath,
      styleName, levelVal)
    values (#{id,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER},
      #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR},
      #{sortNum,jdbcType=INTEGER}, #{is_Enable,jdbcType=BIT}, #{is_Delete,jdbcType=BIT},
      #{ownerId,jdbcType=VARCHAR}, #{createId,jdbcType=VARCHAR}, #{updateId,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{routePath,jdbcType=VARCHAR},
      #{styleName,jdbcType=VARCHAR}, #{levelVal,jdbcType=INTEGER})
  </insert>
    <update id="updateOne" parameterType="com.zoushiyou.model.core.FuncInfo" >
    update tb_funcinfo
    set parentId = #{parentId,jdbcType=VARCHAR},
      version = version+1,
      code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      sortNum = #{sortNum,jdbcType=INTEGER},
      is_Enable = #{is_Enable,jdbcType=BIT},
      is_Delete = #{is_Delete,jdbcType=BIT},
      ownerId = #{ownerId,jdbcType=VARCHAR},
      updateId = #{updateId,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      routePath = #{routePath,jdbcType=VARCHAR},
      styleName = #{styleName,jdbcType=VARCHAR},
      levelVal = #{levelVal,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="deleteOne" parameterType="java.lang.String" >
       update tb_funcinfo set is_Delete = 1 where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="findOne" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from tb_funcinfo where id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="findAll" resultMap="BaseResultMap" >
        select <include refid="Base_Column_List" /> from tb_funcinfo
    </select>
</mapper>