<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zoushiyou.dao.user.RoleJoinFuncDao" >
    <resultMap id="BaseResultMap" type="com.zoushiyou.model.user.RoleJoinFunc" >
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="parentId" property="parentId" jdbcType="VARCHAR" />
        <result column="version" property="version" jdbcType="INTEGER" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
        <result column="sortNum" property="sortNum" jdbcType="INTEGER" />
        <result column="isEnable" property="isEnable" jdbcType="BIT" />
        <result column="isDelete" property="isDelete" jdbcType="BIT" />
        <result column="ownerId" property="ownerId" jdbcType="VARCHAR" />
        <result column="createId" property="createId" jdbcType="VARCHAR" />
        <result column="updateId" property="updateId" jdbcType="VARCHAR" />
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="roleId" property="roleId" jdbcType="VARCHAR" />
        <result column="funcId" property="funcId" jdbcType="VARCHAR" />
        <result column="levelVal" property="levelVal" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
    id, parentId, version, code, name, remarks, sortNum, isEnable, isDelete, ownerId,
    createId, updateId, createTime, updateTime,roleId,funcId,levelVal
    </sql>
    <insert id="insertOne" parameterType="com.zoushiyou.model.user.RoleJoinFunc" >
    insert into tb_rolejoinfunc (id, parentId, version,
      code, name, remarks,
      sortNum, isEnable, isDelete,
      ownerId, createId, updateId,
      createTime, updateTime, roleId,
      funcId, levelVal)
    values (#{id,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER},
      #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR},
      #{sortNum,jdbcType=INTEGER}, #{isEnable,jdbcType=BIT}, #{isDelete,jdbcType=BIT},
      #{ownerId,jdbcType=VARCHAR}, #{createId,jdbcType=VARCHAR}, #{updateId,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{roleId,jdbcType=VARCHAR},
      #{funcId,jdbcType=VARCHAR}, #{levelVal,jdbcType=INTEGER})
  </insert>
    <update id="updateOne" parameterType="com.zoushiyou.model.user.RoleJoinFunc" >
    update tb_rolejoinfunc
    set parentId = #{parentId,jdbcType=VARCHAR},
      version = version+1,
      code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      sortNum = #{sortNum,jdbcType=INTEGER},
      isEnable = #{isEnable,jdbcType=BIT},
      isDelete = #{isDelete,jdbcType=BIT},
      ownerId = #{ownerId,jdbcType=VARCHAR},
      updateId = #{updateId,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      roleId = #{roleId,jdbcType=VARCHAR},
      funcId = #{funcId,jdbcType=VARCHAR},
      levelVal = #{levelVal,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="deleteOne" parameterType="java.lang.String" >
       update tb_rolejoinfunc set isDelete = 1 where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="findOne" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from tb_rolejoinfunc where id = #{id,jdbcType=VARCHAR}
    </select>
</mapper>